<ul class="rxadmin-contentnav clearfix" id="pdmnav">
    <li><a class="active" href="/pdm/cognition">咨询</a></li>
    <li><a href="/pdm/consultation">认知</a></li>
    <li><a href="/pdm/investigate">考察</a></li>
    <li><a href="/pdm/signing">签约</a></li>
</ul>
<script src="/js/plupload-2.3.6.full.min.js"></script>
<script src="/js/upload.js"></script>
<script>
    getactive($("#pdmnav a"),"active");
</script>