
  <div class="pj__left">
    <ul class="rxadmin-contentnav clearfix">
      <li><a href="">人工</a></li>
      <li><a href="">材料</a></li>
      <li><a href="">质量</a></li>
      <li><a href="">现场</a></li>
      <li><a class="active" href="">管理</a></li>
    </ul>
    <div class="cu-panel mt-2">
        <div class="cu-panel__title">
          
          <p class="fl">
            <span class="cLightGray pr-1">订单号</span>
            <span>G01-NJ20007-01</span>
          </p>
          <!--<p class="fr ml-8"><i class="layui-icon pointer bind-delete layui-icon-delete">&#xe640;</i></p>-->
          <p class="fr">
                2020-04-09 14:52:52
          </p>
        </div>
        <div class="cu-panel__main is-not-border tx-center lh-26">
          <div class="cu-panel__split col-4">
            <img width="85px" height="85px" src="https://proj01.oss-cn-beijing.aliyuncs.com/worker/1585293270Gx0E7Z6S4aFxBsXpckjtP2M5.jpg">
          </div>
          <div class="cu-panel__split col-8 tx-left">
            木铭记中式烤肉店装饰工程
          </div>
          <div class="cu-panel__split col-6">审计</div>
          <div class="cu-panel__split col-6 fz-14">
            <a class="cBlue" target="_blank" href="">进入订单</a>
          </div>
        </div>
      </div>
  
  </div>

