
<% layout('layoutSimple.ejs') -%>
<div class="rxadmin-contentnav clearfix">
    <span class="fz-18">订单详情</span>
</div>
<div class="cu-details">
    <!-- 基本信息 -->
    <div class="clearfix cu-card">
        <div class="col-8 tx-center pt-8 mt-8 bor-dotted-right">
            <p class="fz-16 mt-2 cLightGray">
                <span>订单号&nbsp;:</span>
                <span>R01-WTS20008-01</span>
            </p>
            <p class="fz-20 fw-bold cLightRed mtb-4">
                <span class="fw-bold">订单状态&nbsp;:</span>
                <span class="fw-bold">&nbsp;施工</span>
            </p>
            <div>
                <img class="bor-rad50" src="https://holding01.oss-cn-beijing.aliyuncs.com/2018/wKgBtFuNH2KAKZe3AAhqN-VMy_A270.jpg" width="85px" height="85px" alt="">
                <p class="fz-20 fw-bold mt-3">张三</p>
                <p class="fz-20 fw-bold mt-3">木工</p>
                <p class="fz-16 mt-3 cOrange">订单名称：人工</p>
                <p class="fz-16 mt-1">地区: 南京</p>
            </div>
        </div>
        <div class="col-16">
            <div class="col-24 mb-6 tx-center fz-14 cLightGray">该订单已经完成,请关注其他订单,要加油哟！</div>
            <div class="col-24">
                <ul class="layui-timeline col-24">
                    <li class="clearfix pl-4">
                        <div class="fl mr-4 mt-1">2019-09-09 20:00:38</div>
                        <ul class="fl">
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis layui-icon-radio"></i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title fz-14 fw-bold">历史</h3>
                                    <p>订单：R01-WTS20008-01已于2020-04-29 09:55:00 成为历史！</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="clearfix pl-4">
                        <div class="fl mr-4 mt-1">2019-09-09 17:00:38</div>
                        <ul class="fl">
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis layui-icon-ok-circle cLightRed"></i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title fz-14 fw-bold">评价</h3>
                                    <p>订单: R01-WTS20008-01已于2020-04-29 09:55:00 评价！</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="clearfix pl-4">
                        <div class="fl mr-4 mt-1">2019-09-09 17:00:38</div>
                        <ul class="fl">
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis layui-icon-ok-circle cLightRed"></i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title fz-14 fw-bold">结算</h3>
                                    <p>订单：R01-WTS20008-01已于2020-04-29 09:55:00 结算</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="clearfix pl-4">
                        <div class="fl mr-4 mt-1">2019-09-09 17:00:38</div>
                        <ul class="fl">
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis layui-icon-ok-circle cLightRed"></i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title fz-14 fw-bold">竣工</h3>
                                    <p>订单：R01-WTS20008-01已于2020-04-29 09:55:00 竣工</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="clearfix pl-4">
                        <div class="fl mr-4 mt-1">2019-09-09 17:00:38</div>
                        <ul class="fl">
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis layui-icon-ok-circle cLightRed"></i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title fz-14 fw-bold">施工</h3>
                                    <p>订单：R01-WTS20008-01已于2020-04-29 09:55:00 施工</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                     <li class="clearfix pl-4">
                        <div class="fl mr-4 mt-1">2019-09-09 17:00:38</div>
                        <ul class="fl">
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis layui-icon-ok-circle cLightRed"></i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title fz-14 fw-bold">接单</h3>
                                    <p>订单：R01-WTS20008-01已于2020-04-29 09:55:00 接单</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--  订单信息 -->
    <div class="cu-card mt-4">
        <div class="cu-card__title">
            <div class="cu-card__inner">
            <i class="cu-card__line"></i>
                <span>订单信息</span>
            </div>
        </div>
        <div class="clearfix">
            <div class="col-24 ml-2 mt-1">
                <div class="lh-24 mt-1 ml-2">
                    <p class="col-6">
                        <span class="cLightGray pr-1">项目名称</span> 
                        <span>1015物业测试W单装饰工程</span>
                    </p>
                    <p class="col-6">
                        <span class="cLightGray pr-1">项目地址</span> 
                        <span>北京市朝阳区盛福大厦测试</span>
                    </p>
                    <p class="col-6">
                        <span class="cLightGray pr-1">订单号</span> 
                        <span>R01-WTS20008-01</span>
                    </p>
                    <p class="col-6">
                        <span class="cLightGray pr-1">订单金额</span> 
                        <span>300元</span>
                    </p>
                    <p class="col-6">
                        <span class="cLightGray pr-1">工期</span> 
                        <span>30天</span>
                    </p>
                    <p class="col-6">
                        <span class="cLightGray pr-1">项目面积</span> 
                        <span>600</span>
                    </p>
                    <p class="col-6">
                        <span class="cLightGray pr-1">预计开工时间</span> 
                        <span>2020-01-21</span>
                    </p>
                    <p class="col-6">
                        <span class="cLightGray pr-1">工期</span> 
                        <span>41</span>
                    </p>
                    <p class="col-6">
                        <span class="cLightGray pr-1">超期</span> 
                        <span class="cRed">1</span>
                    </p>
                    <p class="col-6">
                        <span class="cLightGray pr-1">下单时间</span> 
                        <span>2020-04-29 09:52:00</span>
                    </p>
                    <p class="col-24">
                        <span class="cLightGray pr-1">备注</span> 
                        <span>备注</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--  工人信息 -->
    <div class="cu-card mt-4">
        <div class="cu-card__title">
            <div class="cu-card__inner">
            <i class="cu-card__line"></i>
                <span>工人信息</span>
            </div>
        </div>
        <div class="clearfix">
            <div class="col-24 ml-2 mt-1 lh-24 ">
                <p class="col-6">
                    <span class="cLightGray pr-1">项目</span> 
                    <span>张三</span>
                </p>
                <p class="col-6">
                    <span class="cLightGray pr-1">工种</span> 
                    <span>油工</span>
                </p>
                <p class="col-6">
                    <span class="cLightGray pr-1">电话</span> 
                    <span>12345698714</span>
                </p>
                <p class="col-6">
                    <span class="cLightGray pr-1">级别</span> 
                    <span>4级</span>
                </p>
            </div>
        </div>
    </div>
     <!--  项订单 -->
    <div class="cu-card mt-4">
        <div class="cu-card__title">
            <div class="cu-card__inner">
            <i class="cu-card__line"></i>
                <span>项订单</span>
            </div>
        </div>
        <div class="clearfix ml-2 pr-4">
            <ul>
                <li class="cu-panel mt-4">
                    <div class="cu-panel mt-2">
                        <div class="cu-panel__title">
                            <p class="fl">
                                <span class="cLightGray pr-1">订单号</span>
                                <span>WTS20008-030202-435</span>
                            </p>
                            <p class="fl ml-8">
                                <span>1015物业测试W单装饰工程</span>
                            </p>
                        </div>
                        <div class="cu-panel__main is-not-border tx-center lh-26">
                            <div class="cu-panel__split col-8">
                                <span>供应及安装隐形边框玻璃隔断(10mm)</span>
                            </div>
                            <div class="cu-panel__split col-4 tx-center">
                                <span>其它</span>
                            </div>
                            <div class="cu-panel__split col-4" >64.41元</div>
                            <div class="cu-panel__split col-4" >
                                <a class="cRed" target="_blank"  href="/order/projectDetail" target="_blank">施工</a>
                            </div>
                            <div class="cu-panel__split col-4 fz-14">
                                <a class="cBlue" target="_blank"  href="/order/projectDetail" target="_blank">查看详情</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cu-panel mt-4">
                    <div class="cu-panel mt-2">
                        <div class="cu-panel__title">
                            <p class="fl">
                                <span class="cLightGray pr-1">订单号</span>
                                <span>WTS20008-030202-435</span>
                            </p>
                            <p class="fl ml-8">
                                <span>1015物业测试W单装饰工程</span>
                            </p>
                        </div>
                        <div class="cu-panel__main is-not-border tx-center lh-26">
                            <div class="cu-panel__split col-8">
                                <span>供应及安装隐形边框玻璃隔断(10mm)</span>
                            </div>
                            <div class="cu-panel__split col-4 tx-center">
                                <span>其它</span>
                            </div>
                            <div class="cu-panel__split col-4" >64.41元</div>
                            <div class="cu-panel__split col-4" >
                                <a class="cRed" target="_blank"  href="/order/orderDetails?id=999&orderName={{item.orderName}}&orderCode={{item.orderCode}}&proName={{item.proName}}&orderno={{item.orderno}}" target="_blank">施工</a>
                            </div>
                            <div class="cu-panel__split col-4 fz-14">
                                <a class="cBlue" target="_blank"  href="/order/orderDetails?id=999&orderName={{item.orderName}}&orderCode={{item.orderCode}}&proName={{item.proName}}&orderno={{item.orderno}}" target="_blank">查看详情</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--  工资 -->
    <div class="cu-card mt-4">
        <div class="cu-card__title">
            <div class="cu-card__inner">
            <i class="cu-card__line"></i>
                <span>工资</span>
            </div>
        </div>
        <div class="clearfix ml-2 pr-4">
            <div class="col-24 ml-2 mt-1 lh-24 ">
                <p class="col-4">
                    <span class="cLightGray pr-1">项订单</span> 
                    <span>3项</span>
                </p>
                <p class="col-4">
                    <span class="cLightGray pr-1">已完</span> 
                    <span>1项</span>
                </p>
                <p class="col-4">
                    <span class="cLightGray pr-1">完成率</span> 
                    <span>33.33%</span>
                </p>
                <p class="col-4">
                    <span class="cLightGray pr-1">订单金额 </span> 
                    <span>300元</span>
                </p>
                <p class="col-4">
                    <span class="cLightGray pr-1">可支 </span> 
                    <span>229.01元</span>
                </p>
                <p class="col-4">
                    <span class="cLightGray pr-1">已支</span> 
                    <span>0元</span>
                </p>
            </div>
        </div>
    </div>
    <!-- 结算 -->
    <div class="cu-card mt-4">
        <div class="cu-card__title">
            <div class="cu-card__inner">
            <i class="cu-card__line"></i>
                <span>结算</span>
            </div>
        </div>
        <div class="tx-center">
            <button class="layui-btn layui-btn-sm layui-btn-normal bind-save">结算</button>
        </div>
    </div>
     <!-- 评价内容 -->
    <div class="cu-card mt-4">
        <div class="cu-card__title">
            <div class="cu-card__inner">
            <i class="cu-card__line"></i>
            <span>评价</span>
            </div>
        </div>
        <div class="cu-card__main">
            <form class="layui-form" action="">
            <div class="lh-20">
                <label class="layui-form-label">描述相符</label>
                <div id="detail-star"></div>
            </div>
            <div class="layui-form-item mb10">
                <label class="layui-form-label">选择标签</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="配送准时" title="配送准时">
                    <input type="checkbox" name="质量达标" title="质量达标">
                    <input type="checkbox" name="价格合理" title="价格合理">
                    <input type="checkbox" name="服务优良" title="服务优良">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">评价描述</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea" name="desc"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">晒图片</label>
                <div class="layui-input-block">
                <div class="cu-upload fl" style="width:140px;height:150px;">
                    <span class="cu-upload__icon"></span>
                    <input type="file" name="file" class="cu-upload__input">
                </div>
                <ul class="cu-upload-list fl ml-2">
                    <li class="cu-upload-list__item">
                    <img class="cu-upload-list__item-thumbnail" width="140px" height="150px" src="https://imgcdn.wenes.cn/1538184851hbfM6h684W.jpg?x-oss-process=image/resize,m_fill,h_150,w_140,limit_0">
                    <span class="cu-upload-list__item-name" title="平面平面.png">平面平面.png</span>
                    <div class="cu-upload-list__item-modal"></div>
                    <div class="cu-upload-list__item-actions">
                        <span class="cu-upload-list__item-preview"></span>
                        <span class="cu-upload-list__item-delete"></span>
                        <span class="cu-upload-list__item-preview"></span>
                    </div>
                    </li>
                </ul>
                </div>
            </div>
            <div class="layui-form-item tx-center mt-2">
                <div class="layui-input-block">
                <button type="submit" class="layui-btn layui-btn-danger layui-btn-sm" lay-submit="" lay-filter="formDemo">提交评价</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<div id="photo-imgbox" class="dis-none">
    <ul class="cu-upload-list ptb-3 plr-3">
        <li class="cu-upload-list__item">
            <img class="cu-upload-list__item-thumbnail" width="140px" height="150px" src="https://imgcdn.wenes.cn/1538184851hbfM6h684W.jpg?x-oss-process=image/resize,m_fill,h_150,w_140,limit_0">
            <span class="cu-upload-list__item-name" title="平面平面.png">平面平面.png</span>
            <div class="cu-upload-list__item-modal"></div>
            <div class="cu-upload-list__item-actions">
                <span class="cu-upload-list__item-preview"></span>
                <span class="cu-upload-list__item-delete"></span>
                <span class="cu-upload-list__item-preview"></span>
            </div>
        </li>
    </ul>
</div>
<script>

 layui.use(['form','rate'], function(){
    var form = layui.form;
     var rate = layui.rate;
    viewer()
    //监听提交
    form.on('submit(saveWorkerinfo)', function(data){
        var workerName = data.field.workerName.replace(/\s+/g, "")
        if (workerName.length > 12) {
            layer.msg("抱歉,姓名请输入1-12位", {icon: 5});
            return  false
        }
        if (workerTypeVlaue === '') {
            layer.msg("抱歉,工种不能为空", {icon: 5});
            return  false
        }
        if (areaVlaue === '' || provincecityVlaue === '' || inductionArea === '') {
            layer.msg("抱歉,您没有选择地区", {icon: 5});
            return  false
        }
    });
    rate.render({
        elem: '#detail-star',
        value: 4
    });

})

</script>